body{

    border: solid maroon;
    
}
.container1{
    display: flex;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navigation a {

    display: flex;
    align-items:center;
    justify-content: center;
    color: black;
    background-color: maroon;
    height: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}


.navigation a:hover {
    background-color: maroon;
    color: red;
}

.navigation ul {

    list-style: none;
    display: flex;
    color: #ffffff;
}

.navigation ul li {
    position:relative;
    width: 20%;
    text-align: center;
    color: white;
    justify-content: space-evenly;

}

.header{
    
    margin-right:30%;
    margin-left: 10%;

}
 .images{
    
    margin-right: 00%;
 }

.header a{

    font-size: 20px;
    margin-left: 8%;
    margin-top: 15%;
    
}

.header img{
    width: 50%;
    margin-top: 5%;
    margin-left: 20%;
}

.header h1{
    font-size: 50px;
    color: black;
    margin-bottom: 20px;
    margin-top: 15%;
}

span{
    color: maroon;
    font-size: 205%;
    margin-top: 5%;
}

.header p1{
    color: grey;
    line-height: 22px;
    
}

.header a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}



.images img{
    width: 820px;
    
}

.para2{

    font-size: 25px;
}

p2{

    font-size: 25px;
}
.img2{

margin-left: 40%;

}

.footer ul{

    list-style: none;
}
.container{

    max-width: 1170;
    background-color: maroon;
    margin: auto;
}
.row{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{

    background-color: maroon;
    padding: 70px 0;

}

.columns{

    width: 25%;
    padding: 0 15px;
}

.columns h2{

    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
}